*{
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
#main{
    background-image: url(../images/bk.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    width: 100%;
}        
    
.home h1{
    padding: 300px 50px 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 85px;
    line-height: 75px;
    color: rgb(148, 138, 138);
}
.home ul{
    float: right;
    list-style-type: none;
    margin-top: 50px;
    margin-right: 30px;
    display: inline-block;
}.home ul li{
        display: inline-block;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.home ul li a{
        text-decoration: none;
        padding: 5px 10px 0px;
        margin-right: 20px;
        color: white;
    }
.home ul li a:hover{
    display: inline-block;
    border: solid white;
    border-radius: 35%;
    padding-top: 2px;

}
#about{
    background-image: url(../images/about.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
img{
    padding: 150px 80px 0px ;
    width: 500px;
    float: right;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    
    
}
article{
    color: white;
    width: 500px;
    line-height: 40px;
    padding: 200px 100px 0px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#contact{
    background-image: url(../images/contct.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.cont{
    
  position: absolute;
  padding: 70px 50px 0px;
  transform: translate(150px);
  color:rgb(148, 138, 138);
}
.cont a{
    color:white;
    font-size: 4vh;
}
.cont h1{
    padding: 100px 0px 0px;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(148, 138, 138);
}
#crtfct{
    background-image: url(../images/adam-birkett-_IrFSypwykg-unsplash.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;   
}
.crtf h1{
    padding: 100px 50px 0px;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(148, 138, 138);
}
.crtf a{
    text-decoration: none;
    
        padding: 5px 10px 5px;
        margin-left: 60px;
        color: white;
        border: solid white;
       border-radius: 30%;
        

}
.crtf a:hover{
    background-color: white;
    color: black;
}
.crtf video{
    
    padding-top: 50px;
    margin-right: 300px;
    height: 400px;
    width: 300px;
    float: right;
}
.crtf article{
    
    transform: translate(200px,-80px);
    color: white;
    width: 500px;
    line-height: 40px;
    padding: 200px 100px 0px ;
    
}
.crtf h2{
   
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(148, 138, 138)
}
.crtf article p{
    font-size: 30px;
}

